:root {
    /* background color */
    --bg-primary-color : #0c0c0c;

    /* text color */
    --text-color : #f0f0f0;

    /* padding */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;


    /* border-color */
    --border-primary-color : #333333;

    /* border-radius */
    --border-xs : 4px;
    --border-sm : 8px;
    --border-md : 12px;
    --border-lg : 16px;
    --border-xl : 20px;
    --border-2xl : 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

html {
    background-color: var(--bg-primary-color);
    color : var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section {
    height: 100%;
    width : 100%
}

section {
    padding: var(--space-2xl);
    height: 100%;
    display: flex;
    gap: var(--space-lg);
    flex-direction: column;
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-sm);
}

.board {
    border : 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block {
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-primary-color);
}