:root {
    /* background color */
    --bg-primary-color : #0c0c0c;

    /* text color */
    --text-color : #f0f0f0;

    /* padding */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;

    /* border-radius */
    --border-xs : 4px;
    --border-sm : 8px;
    --border-md : 12px;
    --border-lg : 16px;
    --border-xl : 20px;
    --border-2xl : 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color : var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section {
    height: 100%;
    width : 100%
}

section {
    padding: var(--space-2xl);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-lg);
    border: 1px solid var(--text-color);
    border-radius: var(--border-lg);
}