:root {
    --bg-color : #000000;
    --primary-text-color: #f4f4f4;

    /* padding variables */
    --nav-padding : 15px 30px;
    --section-padding : 15px 30px;
    --padding-sm : 5px;
    --padding-md : 10px;
    --padding-lg : 15px;
    --padding-xl : 20px;
    --padding-2xl : 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
