:root {
  --bg-color: #000000;
  --primary-text-color: #f4f4f4;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --bg-delete: #ff4d4d;

  /* padding variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-2xl: 30px;

  /* border radius  */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-md) var(--padding-lg);
  cursor: pointer;
  border-radius: var(--border-radius-md);
}

section {
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  gap: var(--padding-2xl);
  justify-content: space-between;
}

section .task-col {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  border-radius: var(--border-radius-sm);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-col.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.05;
}

section .task-col .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .task-col .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-md);
  border: none;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  cursor: grabbing;
}

section .task-col button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-sm);
  border: none;
  outline: none;
  background-color: var(--bg-delete);
  color: var(--primary-text-color);
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(5px);
}

.modal .center {
    background-color: var(--bg-button-color);
    padding: var(--padding-2xl);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    z-index: 10;
}

.modal .center input, .modal .center textarea {
    background-color: var(--bg-task-color);
    border: none;
    outline : none;
    color: var(--primary-text-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-sm);
}

.modal .center button {
    background-color: var(--bg-task-color);
    border : none;
    outline : none;
    color: var(--primary-text-color);
    padding: var(--padding-md) var(--padding-xl);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    width: fit-content;
    align-self: center;
}